/* custom navbar top */
body{
  padding-top: 70px;
  background: rgba(0,0,0,0.7) url('background.jpg')  no-repeat fixed;
  background-size:100% auto;
  background-blend-mode: multiply;
}

.control-label {
  font-weight:normal;
}
#Phone {
  height:34px;
  padding:1px 1px 1px 5px;
}

#Address {
  height:34px;
  padding:1px 1px 1px 5px;
}

.selectpicker {
  color:black;
}

.sw-dropdown button {
  height:34px;
  width:100%;
  padding:1px 1px 1px 5px;
  background: white;
  color:black;
  border-color:grey;
}
.sw-dropdown-content, .sw-dropdown-in {
  background:#065AA2;
  color:black;
}

.irs-bar {
border-top-color: #fbf23d;
border-bottom-color: #fbf23d;
} 

.irs-bar-edge {
border-color: #fbf23d;
}

.irs-single, .irs-bar-edge, .irs-bar {
background: #fbf23d;
color:black;
}

.irs-min, .irs-max {
background:grey;
color:white;
}


.irs-grid-text {
display:none;
}

.irs-grid-pol {
display:none;
  
}

/*.js-irs-1 .irs-bar {
border-top-color: #fbf23d;
border-bottom-color: #fbf23d;
color:black;
} 

.js-irs-1 .irs-bar-edge {
border-color: #fbf23d;
color:black;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #fbf23d;
color:black;
}*/

