/* custom navbar top */
body{
  padding-top: 70px;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#Phone {
  height:34px;
  padding:1px 1px 1px 5px;
}

#Address {
  height:34px;
  padding:1px 1px 1px 5px;
}

.irs-bar {
border-top-color: #fbf23d;
border-bottom-color: #fbf23d;
} 

.irs-bar-edge {
border-color: #fbf23d;
}

.irs-single, .irs-bar-edge, .irs-bar {
background: #fbf23d;
color:black;
}

.irs-min, .irs-max {
background:grey;
color:white;
}


.irs-grid-text {
display:none;
}

.irs-grid-pol {
display:none;
  
}

/*.js-irs-1 .irs-bar {
border-top-color: #fbf23d;
border-bottom-color: #fbf23d;
color:black;
} 

.js-irs-1 .irs-bar-edge {
border-color: #fbf23d;
color:black;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #fbf23d;
color:black;
}*/

